.container {
   font-family: 'Inter Variable', sans-serif;
   font-size: 12px;
   font-weight: 600;
   color: white;
   background-color: #56607C;
   width: 18px;
   height: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0px;
   border-radius: 4px;
   cursor: default;
   -webkit-animation-name: slideInDown;
   animation-name: slideInDown;
   -webkit-animation-duration: 250ms;
   animation-duration: 250ms;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   opacity: 1;
}

@-webkit-keyframes slideInDown {
   0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      visibility: visible;
      opacity: 0;
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}

@keyframes slideInDown {
   0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      visibility: visible;
      opacity: 0;
   }

   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}